
//login, join
.login,.join{
  text-align: center;

  h2{
    padding: 30px;
    color: white;
  }
  
  
  form{
    width: 50%;
    max-width: 540px;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 20px;

    input{
      padding: 14px;
      border: none;
      border-radius: 50px;
      font-size: 1.1rem;

      &:focus{
        outline: none;
      }
      &[type = submit]{
        cursor: pointer;
        &:hover{
          background-color: skyblue;
          color: white;
        }
      }
    }
    
  }

  .error{
    padding: 20px;
    color: tomato;
  }

  .create_account{

    a{
      color: white;
      &:hover{
        color: skyblue;
      }
    }
  }
}


//post
.post{
  
  form{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    min-width: 480px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    textarea{
      width: 100%;
      height: 30vh;
      outline: none;
      resize: none;
      padding: 20px;
      font-size: 1.1rem;
      border-radius: 20px;
      border: 2px solid white;
      background-color: transparent;
      color: white;
    }
    
    
    .file{
      display: flex;
      justify-content: space-between;
    
      label{
        text-align: center;
        width: 100px;
        display: inline-block;
        div{
          padding: 10px;
          border: 2px solid white;
          border-radius: 20px;
          color: white;
          cursor: pointer;
        }
      }
      input{
        width: 75%;
        border: 2px solid white;
        border-radius: 20px;
        padding: 20px;
        background-color: transparent;
        color: white;
      }
    }
    
    input{
      outline: none;
      height: 35px;
  
      &[type=file]{
        display: none;
      }
  
      &[type=submit]{
        border-radius: 20px;
        height: 50px;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover{
          background-color: skyblue;
          color: white;
        }

      }
    }
  }
}