*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 540px;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

body{
  background-color: black;
}
