.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}



.tweets{
  width: 70%;
  max-width: 590px;
  margin: auto;
  color: white;
  border: 2px solid lightgray ;
  border-radius: 20px;
  padding: 20px;
  margin-top: 30px;
  display: flex;
  overflow-y: hidden;



  .textbox{
    width: 80%;

    button{
      position: absolute;
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
      margin-top: -8px;
    }

    p:nth-child(2){
      padding: 15px 0 10px 0;
    }
  }

    img{
      width: 100px;
      height: 100px;
    }

}